   @import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=BBH+Sans+Hegarty&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(150deg, rgb(240, 28, 28), white);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}


.header {
  font-size: 30px;
  font-weight: 800;
  color: rgb(56, 56, 238);
  text-shadow: 2px 2px 4px black;
  margin-bottom: 30px; 
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 12px;
  text-align: center;
  justify-content: center;
}


.cell {
  width: 100px;
  height: 100px;
  background: white;
  border: 3px solid #111;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cell:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
}


.cell.x {
  color: red;
}

.cell.o {
  color: blue;
}
